.home-page {
}

.home-page .title {
  text-align: center;
  margin-top: calc(30vh - 40px);
  font-size: 40px;
}

.home-page .buttons-container {
  width: 300px;
  margin: auto;
  margin-top: 10vh;
  display: flex;
  justify-content: space-around;
}

.home-page .buttons-container button {
  padding: 20px;
  font-size: 15px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  height: 60px;
  width: 130px;
}

.home-page .buttons-container button.create-room {
  border: 0.5px lightblue solid;
}

.home-page .buttons-container button.join-room {
  border: 0.5px orange solid;
}

.home-page .buttons-container button:hover {
  background: lightblue;
}

.home-page .buttons-container .join-room-input {
  font-size: 15px;
  border-radius: 5px;
  outline: none;
  border: 0.5px orange solid;
  width: 130px;
  text-align: center;
}
